.detalle{
    display: inline-block;

}
.detalle-producto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width:100% ;
}
.descripcion{
    width: 50%;
}